<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 声明应用需要INTERNET权限，用于网络通信 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 声明应用需要访问网络状态，用于检查网络连接状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 声明应用需要改变WIFI状态，例如打开或关闭WIFI -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 声明应用需要访问WIFI状态，例如获取当前连接的WIFI信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 声明应用需要读取外部存储，用于读取存储在外部存储设备上的文件 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 声明应用需要写入外部存储，用于将数据写入外部存储设备 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 声明应用需要读取特权电话状态，这是一个特权权限，通常只有系统应用才能拥有 -->
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <!-- 声明应用需要重新启动其他应用或系统组件 -->
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

    <!-- 声明应用需要在设备启动完成后接收通知 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 声明应用需要设置壁纸 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <!-- 声明应用需要读取电话状态，例如检查电话是否在通话中 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 声明应用可以请求安装其他应用包 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!-- 声明应用可以查询所有其他应用包，这是一个实验性权限，通常只有系统应用才能拥有 -->
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <!--        android:requestLegacyExternalStorage="true"-->
    <!--    android:requestPermissions="true"-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"

        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:testOnly="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".launcher.settings.uselogs.AppUseLogsActivity"
            android:exported="true" />
        <activity
            android:name=".launcher.settings.desktopsetting.DeskTopSettingList"
            android:exported="true" />
        <activity
            android:name=".launcher.settings.locker.MTLocker"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar" />

        <!--        <provider-->
        <!--            android:name="androidx.core.content.FileProvider"-->
        <!--            android:authorities="com.etang.mt_launcher.fileprovider"-->
        <!--            android:exported="true"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/file_paths" />-->
        <!--        </provider>-->
        <!--        <provider-->
        <!--            android:name="androidx.core.content.FileProvider"-->
        <!--            android:authorities="com.etang.mt_launcher.fileprovider"-->
        <!--            android:exported="true"-->
        <!--            android:grantUriPermissions="true">-->
        <!--            <meta-data-->
        <!--                android:name="androidx.core.content.FILE_PROVIDER_PATHS"-->
        <!--                android:resource="@xml/file_paths" />-->
        <!--        </provider>-->

        <activity
            android:name=".launcher.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".tool.server.AppInstallServer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".launcher.welecome.WelecomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.uirefresh.UireFreshActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.hindapp.HindAppSetting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.desktopsetting.DeskTopSettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.SettingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.about.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.launcherimage.ChoseImagesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.weather.WeatherActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.textsizesetting.TextSizeSetting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".launcher.settings.inforeback.InfoRebackActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>